@import url("./features/style-discoverMore.css");
@import url("./features/style-iconSettings.css");
@import url("./features/style-hideElements.css");

.TUICTweetButtomBarBase > div > .r-13awgt0 {
    flex: inherit !important;
}

.TUICScrollBottom {
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    margin-right: -8px;
    margin-bottom: -16px;
    margin-left: -8px;
}

.TUICScrollBottom,
[data-tuic-zooming-tweet="openingImage"] .TUICScrollBottom > div {
    overflow-x: auto;
    scrollbar-width: thin;
}

:is([data-tuic-zooming-tweet="openingImage"] .TUICScrollBottom > div, .TUICScrollBottom)::-webkit-scrollbar {
    height: 8px;
}

[data-tuic-hide-child-scroll-snap] > [data-testid="ScrollSnap-prevButtonWrapper"] {
    display: none !important;
}

[data-tuic-hide="true"] {
    display: none !important;
}

.TUIC_HideNextElements ~ * {
    visibility: hidden !important;
}

.TUICSidebarSelected > div > [dir="ltr"] {
    font-weight: 700;
}

/*
.TUICSidebarSelected > div > div > svg{
    stroke:currentColor;
    stroke-width:1;
}
*/

.TUICSidebarButton {
    &:hover > div {
        background-color: var(--TUIC-sidebar-hover-color);
    }
    &:focus-visible > div {
        box-shadow: var(--TUIC-sidebar-focus-color) 0 0 0 2px;
    }

    width: fit-content;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;

    > div {
        display: flex;
    }
    &:active > div {
        background-color: var(--TUIC-sidebar-active-color);
    }
}

.TUIC_DeleteButton {
    color: rgb(244 33 46);
}

.TUICEngagementsBox {
    display: flex;

    > div > span {
        transition: border-bottom 0.2s;
    }

    > div > span:is(:hover, :focus-visible) {
        border-bottom: solid 0.05px;
    }
}

[tabindex="0"] > .TUIC_ButtonHover2:is(:hover, :focus-visible) > .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 10%);
}

[tabindex="0"] > .TUIC_ButtonHover2:active > .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 20%);
}

[tabindex="0"] > .TUIC_ButtonHover2:is(:hover, :focus-visible) > .TUIC_ButtonHover > svg {
    color: rgb(29 155 240);
}

.TUICButtonUnderTweet [tabindex="0"][data-focusvisible-polyfill] .TUIC_ButtonHover > svg {
    color: rgb(29 155 240);
}

.TUICButtonUnderTweet [tabindex="0"][data-focusvisible-polyfill] .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 10%);
    box-shadow: rgb(142 204 258) 0 0 0 2px inset;
}

.TUICButtonUnderTweet > div {
    display: flex;
    > div {
        display: flex;
        align-items: stretch;
    }
}

.TUIC_LinkCardInfo > a {
    text-decoration: none;
}

.TUICTweetTopButton.css-18t94o4:is(:hover, :focus-visible) .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 10%);
}
.TUICTweetTopButton.css-18t94o4:focus-visible .TUIC_ButtonHover {
    box-shadow: rgb(142 204 258) 0 0 0 2px inset;
}
.TUICTweetTopButton.css-18t94o4:is(:hover, :focus-visible) svg {
    color: rgb(29 155 240);
}

.TUICTweetTopButton.css-18t94o4:active .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 20%);
}

[data-tuic-follower-list-button]:is(:hover, :focus-visible) .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 10%);
}
[data-tuic-follower-list-button]:focus-visible .TUIC_ButtonHover {
    box-shadow: rgb(142 204 258) 0 0 0 2px inset;
}
[data-tuic-follower-list-button]:is(:hover, :focus-visible) svg {
    color: rgb(29 155 240);
}

[data-tuic-follower-list-button]:active .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 20%);
}

#TUICDisplayRightSidebar:is(:hover, :focus-visible) {
    text-decoration-thickness: 1px;
}

.TUICTweetTopButton :root[data-tuic-settings*="|sidebarSetting.buttonConfigsmallerSidebarContent|"] [role="navigation"] [data-tuic-hide="false"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.invisible.bottomSpace|"] .TUIC_NONE_SPACE_BOTTOM_TWEET {
    margin-top: 0 !important;
}

:root[data-tuic-settings*="|sidebarSetting.buttonConfig.sidebarNoneScrollbar|"] header > div > div > div > div.r-1rnoaur {
    overflow: clip;
}

:root[data-tuic-settings*="|profileSetting.tabs.pinnedTab|"] [data-testid="primaryColumn"] > div > div > div > div > div:has(> nav[role="navigation"]) {
    position: sticky;
    top: var(--TUIC-pinnedTab-top);
    z-index: 1;
    background-color: var(--TUIC-pinnedTab-background);
    backdrop-filter: blur(12px);
}

:root[data-tuic-settings*="|uncategorizedSettings.disableBackdropFilter|"] * {
    backdrop-filter: none !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] :is([data-testid="unlike"], [data-testid="like"][data-focusvisible-polyfill], [data-testid="like"]:is(:hover, :focus-visible)) > div > div {
    color: rgb(255 212 0) !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:is(:hover, :focus-visible) > div {
    color: rgb(255 212 0) !important;

    > div {
        background-color: rgb(255 212 0 / 10%) !important;
    }
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"][data-focusvisible-polyfill] > div > div > div {
    background-color: rgb(255 212 0 / 10%) !important;
    box-shadow: rgb(142 204 258) 0 0 0 2px inset !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:active > div > div {
    background-color: rgb(255 212 0 / 20%) !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] :is([data-testid="unlike"], [data-testid="like"][data-focusvisible-polyfill]) path {
    fill: rgb(255 212 0) !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:is(:hover, :focus-visible) path {
    fill: rgb(255 212 0) !important;
}

:root[data-tuic-settings*="|uncategorizedSettings.dimBackgroundTheme|"] {
    .r-kemksi {
        background-color: rgb(21 32 43 / 100%);
    }
    .r-5zmot {
        background-color: rgb(21 32 43 / 65%);
    }
    .r-g2wdr4 {
        background-color: rgb(31 40 51);
    }
    .r-2sztyj { /* rgb(47, 51, 54) */
        border-top-color: #38444d;
    }
    .r-1igl3o0 {
        border-bottom-color: #38444d;
    }
    .r-1kqtdi0 {
        border-color: #38444d;
    }
    .r-gu4em3 {
        background-color: #38444d;
    }
    .r-1bnu78o {
        background-color: #425364; /* var(--color-gray-200) */
    }
    .r-1roi411 {
        border-color: #425364; /* var(--color-gray-200) */
    }
    .r-1hdo0pc {
        border-color: rgb(247 249 249 / 10%); /* var(--color-gray-1100),0.1 */
    }
    .r-qo02w8 { /* rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px */
        box-shadow: rgb(136 153 166 / 20%) 0 0 15px, rgb(136 153 166 / 15%) 0 0 3px 1px;
    }
    [style="color: rgb(113, 118, 123);"] {
        color: #8b98a5 !important; /* var(--color-gray-700) */
    }
    [style="background-color: rgb(0, 0, 0);"] {
        background-color: #15202b !important; /* var(--color-background) */
    }
}
