.r-icoktb {
    opacity: 0.5;
}

.r-zd98yo {
    margin-bottom: 32px;
}

.r-1yflyrw {
    margin-bottom: 30px;
}

.r-1vxqurs {
    margin-bottom: 29px;
}

.r-1v456y7 {
    margin-bottom: 35px;
}

.r-sr82au {
    margin-bottom: 38px;
}

.r-z2wwpe {
    border-radius: 4px;
}

.r-115tad6 {
    color: rgb(139 152 165);
}

/* Twitter Blue以外の長文のもっと見るを非表示にするCSS */
div[data-testid="tweetText"] {
    -webkit-line-clamp: initial !important;
}
/*
header nav > a > div {
    padding-right: 0 !important;
} 
*/
