/* セーフモード時の設定画面スタイル */
#TUIC_safemode > #TUIC_setting {
    max-width: 600px;
    margin: 2em auto;
}

/* 効いてないのでコメントアウト
#TUIC_safemode > .r-135wba7 {
    line-height: 1em;
} */

.TUICDefaultColor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px !important;
    height: 36px !important;
    border-color: #71767b !important;
}

.TUICDefaultColor:is(:hover, :focus-visible) {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 5%);
}
.TUICDefaultColor:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 10%);
}

.TUIC_ISNOTDEFAULT .TUICDefaultColor:is(:hover, :focus-visible, :active) {
    background: transparent;
}
.TUICButtonRest_innersvg__container svg {
    width: 22px;
    height: 22px;
    opacity: 1;
}
.TUICButtonRest_innersvg__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.TUIC_ISNOTDEFAULT:not(:last-of-type) {
    /* margin-bottom: calc(12px + 1em); */
}
.TUIC_ISNOTDEFAULT .TUICDefaultColor .TUICButtonRest_innersvg__container svg {
    opacity: 0.6;
}

.TUIC_ISNOTDEFAULT button.TUICDefaultColor {
    cursor: not-allowed;
}

/* 色選択 */
.TUIC_setting_color_colmn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TUIC_setting_color_colmn > h4 {
    margin: 0 !important;
    font-size: 15px;
    font-weight: 700 !important;
    color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 40%);
}

.TUIC_setting_color_colmn > .TUIC_setting_input_container {
    display: flex;
    gap: 10px;
}

/* 無理やり丸くするための準備（スタイルを消しまくったりポインタをカーソルにしてわかりやすく） */
.TUIC_col_setting_container input[type="color"] {
    width: 200%;
    height: 200%;
    appearance: none;
    cursor: pointer;
    background: transparent;
    border: none;
    transform: translate(-25%, -25%);
}

/* type=colorなinputタグを無理やり丸くするためのマスク */
.TUIC_input_color_rounded {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

/* ホバー時の背景色変化とクリック時のサイズ変更を加えるためだけのコンテナ */
.TUIC_input_color_rounded__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #9c9c9c80;
    border: solid 3px color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
    border-radius: 50%;
    transition: none;
}

.TUIC_input_color_rounded__container:is(:hover, :focus-visible) {
    background: var(--TUIC-color-hover-efect);
}

.TUIC_input_color_rounded__container:active {
    border-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 40%);
}

/* 色設定項目の操作可能なオブジェクトのコンテナ */
.TUIC_setting_input_container {
    display: flex;
    align-items: center;
}

/* 設定項目のタイトル */
.TUIC_setting_title {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    font-feature-settings: "palt";
    color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%) !important;
}

/* 設定用項目のコンテナ */
.TUIC_col_setting_container {
    /* margin-top: 8px; */
    padding: 10px 14px;
    border-radius: 14px;
}

.TUIC_col_setting_container_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#TUICColorSettingsDivBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 表示非表示のセレクトボックス */
.TUIC_selectbox {
    padding-bottom: 5px;
    margin-top: 10px;
    overflow-x: auto;
    scrollbar-width: thin;
    background: black;
    border: solid 1px #71767b;
    border-radius: 6px;
}

.TUIC_selectbox::-webkit-scrollbar {
    height: 8px;
}

/* 設定画面の文字色 */
.TUIC_setting_text {
    color: var(--twitter-TUIC-color);
}

.TUICDetails,
.TUICEasySetting {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    background-color: var(--TUIC-container-background);
    border: 2px solid;
    border-color: rgb(0 0 0 / 0%) !important;
    border-radius: 5px;
}

.TUICDetails:not([open]),
.TUICEasySetting {
    padding-bottom: 10px;
    border-color: var(--TUIC-detail-border) !important;
}

.TUIC_icon_button_con {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 2px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 9999px;
    transition: 0.3s;
}

.TUIC_icon_button_con > svg * {
    stroke: var(--twitter-TUIC-color);
    transition: 0.2s;
}

.TUIC_icon_button_con > svg {
    width: 22px;
    height: 22px;
    pointer-events: none;
    stroke-width: 0.5px;
}

.TUIC_icon_button_con:is(:hover, :focus-visible) {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 10%);
    transition: none;
}

.TUIC_icon_button_con:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 40%);
    transition: none;
}

.TUIC_setting_button {
    /* box-shadow: 0 5px 5px 0 rgb(0 0 0 / 30%); */
    /* color: #71767b !important; */
    text-align: center;
    cursor: pointer;
    background: transparent;
    /* border-color: var(--twitter-TUIC-color); */
    border-color: #71767b !important;
    border-radius: 9999px;
    transition: none;
}

.TUIC_setting_button:is(:hover, :focus-visible) {
    /* background: var(--TUIC-container-background); */
}

.TUIC_setting_button_width {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px;
}
.TUICEasySettingButtons {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TUIC_none_scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.TUIC_none_scroll::-webkit-scrollbar {
    display: none;
}

#TUIC_invisible,
#TUIC_visible {
    height: 100%;
    padding-bottom: 50px;
    overflow-y: clip;
    background: transparent;
    border-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
}

#TUIC_invisible span,
#TUIC_visible span,
.TUICTextInput {
    color: var(--twitter-TUIC-color);
    background: transparent;
}

#TUIC_invisible > div,
#TUIC_visible > div {
    /* height: 100$; */
    padding: 5px 10px;
    font-size: 15px;
}

#TUIC_invisible > div:is(:hover, :focus-visible),
#TUIC_visible > div:is(:hover, :focus-visible) {
    background-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 5%);
}
div[tuicudbox] > .UpDownButtons {
    padding: 0 7px;
}
.TUIC_setting_detailsbox_content_container div[tuicudbox] {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#TUIC_invisible > div span,
#TUIC_visible > div > span {
    line-height: calc(1em + 5px);
    white-space: nowrap;
}

[TUICSelectedUpDownContent="true"],
[TUICSelectedUpDownContent="true"]:is(:hover, :focus-visible) {
    background-color: #1da1f2 !important;
}

.TUIC_setting_UpdownList_listContainer {
    display: flex;
    flex-direction: column;
}

textarea#css_textarea {
    width: calc(100% - 10px);
    height: 300px;
    margin-bottom: 20px;
    resize: vertical;
    border-radius: 6px;
}

.TUICTextInput {
    width: calc(100% - 10px);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border: 1px solid #808080;
    border-radius: 6px;
}

/* チェックボタン(Transparent) */
.TUICButtonColorCheck {
    display: flex;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
    border: solid 3px color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
    border-radius: 50%;
}

.TUICButtonColorCheck_innersvg__container {
    width: 30px;
    height: 30px;
}

.TUICButtonColorCheck_innersvg__container > svg {
    width: 100%;
    height: 100%;
}

.TUICButtonColorCheck[data-checked="true"] {
    background-color: rgb(29 161 242 / 100%);
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='20 6 9 17 4 12'></polyline></svg>");
    /* チェックされている */
    border: solid 3px #1da1f2;
}

.TUICSettingRadioTypeBigButton {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    border: 3px solid color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 10%);
    border-radius: 10px !important;
}

.TUICSettingRadioTypeBigButton > span > span {
    /* font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        Helvetica,
        Roboto,
        "Segoe UI",
        "Noto Sans" "Noto Sans JP",
        Meiryo,
        system-ui,
        sans-serif; */
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    mix-blend-mode: difference;
}

.TUICSettingRadioTypeBigButton > span {
    white-space: nowrap;
}

.TUICColorSettingRadio {
    display: none;
}

.TUICColorSettingRadio:checked + .TUICSettingRadioTypeBigButton {
    border: 3px solid #1da1f2 !important;
}

.TUICColorSettingRadio:not(:checked) + .TUICSettingRadioTypeBigButton {
    font-weight: 400;
    border: 3px solid color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 5%) !important;
}

.TUIC_resetOnly_colorSettings {
    width: 100%;
    height: 40px;
    color: var(--TUIC-container-background);
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%);
    border: none;
    border-radius: 9999px;
}

.TUIC_resetOnly_colorSettings:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 30%);
}

.TUICSettingSubTitle {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    font-size: 15px;
    font-weight: 700;
    font-feature-settings: "palt";
    color: var(--twitter-TUIC-color);
    letter-spacing: 1px;
}

.TUICUploadedImg {
    background-size: cover;
}
:root[data-tuic-settings*="|twitterIcon.options.roundIcon|"] #TUICIcon_IconImg {
    border-radius: 9999px !important;
}

.TUICUploadedImg:not([data-testid="interstitialGraphic"] > svg) {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid;
    border-color: var(--TUIC-detail-border) !important;
}

.TUICCheckBoxParent:not(:last-of-type) {
    padding-bottom: 10px;
}

.TUICCheckBoxParent {
    display: flex;
    gap: 15px;
    padding-top: 10px;
}

.TUICCheckBoxParent > div {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.25em;
}

.TUICCheckBoxParent > input[type="checkbox"] {
    position: relative;
    width: 1rem;
    height: 1rem;
    appearance: none;
    background-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) var(--TUIC-checkbox-opacity, 7%));
    border-radius: 0.25rem;
    &:is(:hover, :focus-visible) {
        --TUIC-checkbox-opacity: 12%;
    }
    &:active {
        --TUIC-checkbox-opacity: 17%;
    }
    &:checked {
        background-color: rgb(37 99 235);
        &:is(:hover, :focus-visible) {
            background-color: rgb(59 130 246);
        }
        &:active {
            background-color: rgb(96 165 250);
        }
        &::before {
            opacity: 1;
        }
    }
    &::before {
        font-size: 1rem;
        vertical-align: 0.05rem;
        color: #fff;
        opacity: 0;
    }
}

#TUIC_setting :is(label, span, button, h2) {
    white-space: pre-wrap;
}

.TUICUpDownTitle {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#TUICSelectedColorType {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    gap: 10px;
    padding-top: 20px;
    background-color: var(--TUIC-container-background);
}

.TUIC_setting_divider {
    margin: 20px 0;
    border: none;
    border-top: solid 1px var(--TUIC-detail-border);
}

.TUIC_setting_divider_nomargin {
    margin: 0;
}

.TUIC_setting_divider_m35 {
    margin: 35px 0;
}

.TUIC_setting_toplogo {
    width: 150px;
}

.TUIC_setting_toplogo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#TUIC_setting {
    padding: 0;
}

#TUIC_setting * {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        Helvetica,
        Roboto,
        "Segoe UI",
        "Noto Sans",
        "Noto Sans JP",
        Meiryo,
        system-ui,
        sans-serif;
}

.TUIC_settings_header_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding: 0 35px;
    padding-top: 35px;
}

.TUIC_settings_header_title {
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.TUIC_settings_header_desc {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #71767c;
}

.TUIC_settings_header_title.TUIC_settings_header_lv2 {
    font-size: 20px;
}

.TUIC_setting_easysetting_container {
    margin-bottom: 35px;
}

.TUIC_setting_iconbutton_icon {
    width: 24px;
    margin: auto;
}

.TUIC_setting_iconbutton {
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
    height: 50px;
    font-size: 15px;
    font-feature-settings: "palt";
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.TUIC_setting_iconbutton:is(:hover, :focus-visible) {
    background: var(--TUIC-container-background);
    transition: none;
}

.TUIC_setting_iconbutton:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
}

.TUIC_setting_easysetting_buttons_container {
    margin-top: 15px;
}

.TUIC_setting_defaultprefbutton {
    color: rgb(244 34 45);

    --twitter-TUIC-color: rgb(244 34 45);
}

.TUIC_setting_section_title {
    padding: 0 35px 10px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: rgb(113 118 124);
}
.TUIC_setting_section_title_2 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--twitter-TUIC-color);
}

.TUIC_setting_detailsbox_icon {
    width: 24px;
    margin: auto;
}

.TUIC_setting_detailsbox summary > div {
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    align-items: center;
    height: 100%;
    font-size: 15px;
    font-feature-settings: "palt";
    user-select: none;
}

.TUIC_setting_detailsbox summary {
    height: 50px;
    cursor: pointer;
    list-style-type: none;
}
.TUIC_RoundedColorPicker_input {
    width: 200%;
    height: 200%;
    appearance: none;
    cursor: pointer;
    background: transparent;
    border: none;
    transform: translate(-25%, -25%);
}

.TUIC_setting_detailsbox {
    height: fit-content;
    transition: 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.TUIC_setting_detailsbox summary:is(:hover, :focus-visible) {
    background: var(--TUIC-container-background);
    transition: none;
}

.TUIC_setting_detailsbox summary:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
}

.TUIC_setting_detailsbox_content_container {
    background-color: var(--TUIC-container-background);
}
.TUIC_setting_detailsbox_content_container > :not(hr) {
    padding: 20px 35px;
}

.TUIC_setting_color_select_info {
    display: flex;
    padding: 0;
    margin: 20px 0 0;
    font-size: 15px;
    font-feature-settings: "palt";
    line-height: 1.4;
    color: rgb(113 118 124);
    letter-spacing: 1px;
}

.TUIC_setting_sidebarFigure {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    border-radius: 0 10px 10px 0;
}

.TUIC_setting_rightSidebarFigure {
    border-radius: 10px 0 0 10px;
}

.TUIC_setting_TwButtonFigure {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    border-radius: 10px 10px 0;
}

.TUIC_setting_TwButtonFigure_top {
    border-radius: 10px 0 10px 10px;
}

.TUIC_setting_TwEngagementFigure {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.TUIC_setting_UpdownListBtnDivider {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color: #303438;
    border: none;
}

.TUIC_settings_subtitle2 {
    margin: 20px 0 10px;
    font-size: 15px;
    font-feature-settings: "palt";
    color: rgb(113 118 124);
    letter-spacing: 1px;
}

.TUIC_setting_IconRadioButton > svg {
    width: 24px;
    height: 24px;
}

.TUIC_setting_IconRadioButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 9999px;
}

.TUICIconRadioButton input[type="radio"]:checked ~ div > label {
    background-color: #1da1f2;

    --twitter-TUIC-color: white;
}

.TUICIconRadioButton input[type="radio"]:not(:checked):is(:hover, :focus-visible) ~ div > label {
    background-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 5%);
}

.TUICIconRadioButton input[type="radio"] ~ div > label {
    transition: 0.2s;
}

.TUICIconRadioButton input[type="radio"] {
    display: none;
}

.TUIC_settings_settingsSidebar_IconRadioBtnList_container {
    display: flex;
    gap: 10px;
}

.TUICSettingSubTitleNomargin {
    padding: 0;
    margin: 0;
}
.TUIC_setting_notice_paragraph {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    color: rgb(113 118 124);
}
.TUIC_setting_customcss_input {
    font-family: monospace;
    background: var(--tlui-dialog-background);
    border: 1px solid color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 10%);
}
.TUIC_setting_customcss_button {
    width: 100%;
    height: 40px;
    color: var(--TUIC-container-background);
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%);
    border: none;
    border-radius: 9999px;
}

.TUIC_setting_customcss_button:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 30%);
}
.TUIC_setting_button_new {
    width: 100%;
    height: 40px;
    font-size: 15px !important;
    font-weight: bold;
    color: var(--TUIC-container-background);
    text-align: center !important;
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%);
    border: none;
    border-radius: 9999px;
}

.TUIC_setting_button_new:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 30%);
}
.TUIC_setting_intro_paragraph_bold {
    font-weight: bold;
}

.TUIC_setting_intro_paragraph {
    margin: 20px 0 10px;
    font-size: 15px;
    font-feature-settings: "palt";
    color: rgb(113 118 124);
    letter-spacing: 1px;
}
.TUIC_setting_textarea_new {
    background: var(--tlui-dialog-background);
    border: 1px solid color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 10%);
}

.TUICSelectImg {
    font-size: 15px;
}
.TUICSelectImg::file-selector-button {
    padding: 10px 20px;
    margin-right: 12px;
    background-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
    border: none;
    border-radius: 10px;
}

.TUIC_setting_bottom_copyright {
    margin: 35px 0;
    text-decoration-line: none;
    text-decoration-color: rgb(113 118 124) !important;
}
.TUIC_setting_bottom_copyright:is(:hover, :focus-visible) {
    text-decoration: underline;
}
.TUIC_setting_bottom_copyright:active {
    text-decoration: none;
}
.TUIC_setting_bottom_copyright span {
    display: block;
    width: 100%;
    height: 100%;
}
