/* セーフモード時の設定画面スタイル */
#TUIC_safemode > #TUIC_setting {
    margin: 2em auto;
    max-width: 600px;
}

#TUIC_safemode > .r-135wba7 {
    line-height: 1em;
}

.TUICDefaultColor {
    margin: 2px 0 2px auto !important;
    width: fit-content;
    border-color: #71767b !important;
}

.TUIC_ISNOTDEFAULT:not(:last-of-type) {
    margin-bottom: calc(12px + 1em);
}

/* 色選択 */
.TUIC_setting_color_colmn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TUIC_setting_color_colmn > h4 {
    margin-left: 10px !important;
}

/* 無理やり丸くするための準備（スタイルを消しまくったりポインタをカーソルにしてわかりやすく） */
.TUIC_col_setting_container input[type="color"] {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transform: translate(-25%, -25%);
    width: 200%;
    height: 200%;
}

/* type=colorなinputタグを無理やり丸くするためのマスク */
.TUIC_input_color_rounded {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    overflow: hidden;
}

/* ホバー時の背景色変化とクリック時のサイズ変更を加えるためだけのコンテナ */
.TUIC_input_color_rounded__container {
    background-color: rgb(127 127 127 / 50%);
    padding: 4px;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    margin-right: 5px !important;
}

.TUIC_input_color_rounded__container:hover {
    background: var(--TUIC-color-hover-efect);
}

.TUIC_input_color_rounded__container:active {
    transform: scale(0.8);
}

/* 色設定項目の操作可能なオブジェクトのコンテナ */
.TUIC_setting_input_container {
    display: flex;
    align-items: center;
}

/* 設定項目のタイトル */
.TUIC_setting_title {
    font-weight: bold;
    font-size: 1rem;
    color: #71767b !important;
}

/* 設定用項目のコンテナ */
.TUIC_col_setting_container {
    margin-top: 8px;
    padding: 10px 14px;
    border-radius: 14px;
}

.TUIC_col_setting_container_2 {
    background: var(--TUIC-container-background2);
    margin-top: 8px;
    padding: 10px 14px;
    border-radius: 14px;
    margin-bottom: 1em;
}

/* 表示非表示のセレクトボックス */
.TUIC_selectbox {
    border: solid 1px #71767b;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: calc((1em + 9px) * var(--contentCount) + 10px);
    overflow-x: auto;
    scrollbar-width: thin;
}

.TUIC_selectbox::-webkit-scrollbar {
    height: 8px;
}

/* 設定画面の文字色 */
.TUIC_setting_text {
    color: var(--twitter-TUIC-color);
}

.TUICDetails,
.TUICEasySetting {
    margin-bottom: 20px;
    border: 2px solid;
    border-color: rgb(0 0 0 / 0%) !important;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: var(--TUIC-container-background);
    font-family: sans-serif;
}

.TUICDetails:not([open]),
.TUICEasySetting {
    padding-bottom: 10px;
    border-color: var(--TUIC-detail-border) !important;
}

.TUIC_icon_button_con {
    border-radius: 9999px;
    background: transparent;
    border: none;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.TUIC_icon_button_con > svg * {
    stroke: var(--twitter-TUIC-color);
    transition: 0.2s;
}

.TUIC_icon_button_con > svg {
    pointer-events: none;
}

.TUIC_icon_button_con:hover {
    background: #ffffff20;
}

.TUIC_icon_button_con:active {
    transform: scale(0.9);
}

.TUIC_setting_button {
    background: transparent;
    /* border-color: var(--twitter-TUIC-color); */
    border-color: #71767b !important;
    border-radius: 9999px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 30%);
    /* color: #71767b !important; */
}

.TUIC_setting_button:hover {
    background: var(--TUIC-container-background);
}

.TUIC_setting_button_width {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px;
}

.TUIC_none_scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.TUIC_none_scroll::-webkit-scrollbar {
    display: none;
}

.TUIC_DISPNONE {
    display: none !important;
}

[tabindex="0"] > .TUIC_ButtonHover2:hover > .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 10%);
}

[tabindex="0"] > .TUIC_ButtonHover2:active > .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 20%);
}

[tabindex="0"] > .TUIC_ButtonHover2:hover > .TUIC_ButtonHover > svg {
    color: rgb(29 155 240);
}

.TUICButtonUnderTweet [tabindex="0"][data-focusvisible-polyfill] .TUIC_ButtonHover > svg {
    color: rgb(29 155 240);
}

.TUICButtonUnderTweet [tabindex="0"][data-focusvisible-polyfill] .TUIC_ButtonHover > div {
    box-shadow: rgba(142 204 258) 0 0 0 2px inset;
    background-color: rgb(29 155 240 / 10%);
}

#TUIC_invisible,
#TUIC_visible {
    background: transparent;
    padding-bottom: 10px;
    overflow-y: clip;
}

#TUIC_invisible span,
#TUIC_visible span,
#css_textarea,
.TUICTextInput {
    background: transparent;
    color: var(--twitter-TUIC-color);
}

#TUIC_invisible > div,
#TUIC_visible > div {
    height: calc(1em + 5px);
    padding: 2px 1em;
}

#TUIC_invisible > div span,
#TUIC_visible > div > span {
    white-space: nowrap;
    line-height: calc(1em + 5px);
}

[TUICSelectedUpDownContent="true"] {
    background-color: rgb(51 167 229 / 70%);
}

.TUICTextInput {
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea#css_textarea {
    height: 300px;
    resize: vertical;
}

textarea#css_textarea,
.TUICTextInput {
    width: calc(100% - 10px);
    border: 1px solid #808080;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* チェックボタン(Transparent) */
.TUICButtonColorCheck {
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    border: 2px solid rgb(127 127 127);
    background-color: #fff;
    margin-right: 0.2em;
    margin-left: 0.5em;
}

.TUICButtonColorCheck[data-checked="true"] {
    /* チェックされている */
    background-position: center;
    background-size: 90%;
    background-color: rgb(29 161 242 / 100%);
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='20 6 9 17 4 12'></polyline></svg>");
}

.TUICSettingRadioTypeBigButton {
    flex: 1 1;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 50px;
    border-radius: 5px !important;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TUICSettingRadioTypeBigButton > span > span {
    mix-blend-mode: difference;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    font-family:
        "Segoe UI",
        Meiryo,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
}

.TUICSettingRadioTypeBigButton > span {
    white-space: nowrap;
}

.TUICColorSettingRadio {
    display: none;
}

.TUICColorSettingRadio:checked + .TUICSettingRadioTypeBigButton {
    border: 2px solid rgb(29 155 240);
}

.TUICColorSettingRadio:not(:checked) + .TUICSettingRadioTypeBigButton {
    border: 2px solid rgb(127 127 127);
}

.TUICColorSettingRadio:checked + .TUICSettingRadioTypeBigButton > span::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><g><path fill='%23FFFFFF' d='M9.64 18.952l-5.55-4.861 1.317-1.504 3.951 3.459 8.459-10.948L19.4 6.32 9.64 18.952z'></path></g></svg>");
    background-color: rgb(29 155 240);
    height: 1em;
    width: 1em;
}

.TUICColorSettingRadio:not(:checked) + .TUICSettingRadioTypeBigButton > span::before {
    border: 2px solid rgb(127 127 127 / 50%);
}

.TUICSettingRadioTypeBigButton > span::before {
    margin-right: 10px;
    border-radius: 9999px;
    background-size: 16px 16px;
    background-position: center;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    display: inline-block;
    content: " ";
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.TUICSettingSubTitle {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
    margin-left: 10px !important;
}

.TUICUploadedImg:not([data-testid="interstitialGraphic"] > svg) {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid;
    border-color: var(--TUIC-detail-border) !important;
}

.TUICCheckBoxParent:not(:last-of-type) {
    margin-bottom: 8px;
}

.TUICCheckBoxParent {
    display: flex;
}

:is(.TUICCheckBoxParent, .TUICCheckBoxParent) > div {
    display: inline-block;
    margin-left: 0.25em;
    margin-top: auto;
    margin-bottom: auto;
}

#TUIC_setting :is(label, span, button, h2) {
    white-space: pre-wrap;
}
