/* セーフモード時の設定画面スタイル */
#TUIC_safemode > #TUIC_setting {
    margin: 2em auto;
    max-width: 600px;
}

#TUIC_safemode > .r-135wba7 {
    line-height: 1em;
}

.TUICDefaultColor {
    width: 36px !important;
    height: 36px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #71767b !important;
}
.TUICButtonRest_innersvg__container svg {
    width: 22px;
    height: 22px;
    opacity: 1;
}
.TUICButtonRest_innersvg__container {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TUIC_ISNOTDEFAULT:not(:last-of-type) {
    /* margin-bottom: calc(12px + 1em); */
}
.TUIC_ISNOTDEFAULT .TUICDefaultColor .TUICButtonRest_innersvg__container svg {
    opacity: 0.6;
}

/* 色選択 */
.TUIC_setting_color_colmn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TUIC_setting_color_colmn > h4 {
    margin: 0 !important;
    font-weight: 700 !important;
    font-size: 15px;
    color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 40%);
}

.TUIC_setting_color_colmn > .TUIC_setting_input_container {
    display: flex;
    gap: 10px;
}

/* 無理やり丸くするための準備（スタイルを消しまくったりポインタをカーソルにしてわかりやすく） */
.TUIC_col_setting_container input[type="color"] {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transform: translate(-25%, -25%);
    width: 200%;
    height: 200%;
}

/* type=colorなinputタグを無理やり丸くするためのマスク */
.TUIC_input_color_rounded {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

/* ホバー時の背景色変化とクリック時のサイズ変更を加えるためだけのコンテナ */
.TUIC_input_color_rounded__container {
    background-color: #9c9c9c80;
    border: solid 3px color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: none;
}

.TUIC_input_color_rounded__container:hover {
    background: var(--TUIC-color-hover-efect);
}

.TUIC_input_color_rounded__container:active {
    border-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 40%);
}

/* 色設定項目の操作可能なオブジェクトのコンテナ */
.TUIC_setting_input_container {
    display: flex;
    align-items: center;
}

/* 設定項目のタイトル */
.TUIC_setting_title {
    font-weight: 700;
    font-size: 15px;
    color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%) !important;
    font-feature-settings: "palt";
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

/* 設定用項目のコンテナ */
.TUIC_col_setting_container {
    /* margin-top: 8px; */
    padding: 10px 14px;
    border-radius: 14px;
}

.TUIC_col_setting_container_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#TUICColorSettingsDivBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 表示非表示のセレクトボックス */
.TUIC_selectbox {
    border: solid 1px #303438;
    background: black;
    border-radius: 6px;
    margin-top: 10px;
    padding-bottom: 5px;
    overflow-x: auto;
    scrollbar-width: thin;
}

.TUIC_selectbox::-webkit-scrollbar {
    height: 8px;
}

/* 設定画面の文字色 */
.TUIC_setting_text {
    color: var(--twitter-TUIC-color);
}

.TUICDetails,
.TUICEasySetting {
    margin-bottom: 20px;
    border: 2px solid;
    border-color: rgb(0 0 0 / 0%) !important;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: var(--TUIC-container-background);
}

.TUICDetails:not([open]),
.TUICEasySetting {
    padding-bottom: 10px;
    border-color: var(--TUIC-detail-border) !important;
}

.TUIC_icon_button_con {
    border-radius: 9999px;
    background: transparent;
    border: none;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

.TUIC_icon_button_con > svg * {
    stroke: var(--twitter-TUIC-color);
    transition: 0.2s;
}

.TUIC_icon_button_con > svg {
    pointer-events: none;
    width: 22px;
    height: 22px;
    stroke-width: 0.5px;
}

.TUIC_icon_button_con:hover {
    background: #ffffff20;
}

.TUIC_icon_button_con:active {
    border-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 40%);
}

.TUIC_setting_button {
    background: transparent;
    /* border-color: var(--twitter-TUIC-color); */
    border-color: #71767b !important;
    border-radius: 9999px;
    transition: none;
    cursor: pointer;
    /* color: #71767b !important; */
}

.TUIC_setting_button:hover {
    /* background: var(--TUIC-container-background); */
}

.TUIC_setting_button_width {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px;
}
.TUICEasySettingButtons {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TUIC_none_scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.TUIC_none_scroll::-webkit-scrollbar {
    display: none;
}

.TUIC_DISPNONE {
    display: none !important;
}

#TUIC_invisible,
#TUIC_visible {
    height: 100%;
    padding-bottom: 50px;
    overflow-y: clip;
}

#TUIC_invisible span,
#TUIC_visible span,
.TUICTextInput {
    background: transparent;
    color: var(--twitter-TUIC-color);
}

#TUIC_invisible > div,
#TUIC_visible > div {
    height: 100$;
    padding: 5px 10px;
    font-size: 15px;
}

#TUIC_invisible > div:hover,
#TUIC_visible > div:hover {
    background-color: #181818;
}
div[tuicudbox="sidebarButtons"] > .UpDownButtons,
div[tuicudbox="visibleButtons"] > .UpDownButtons,
div[tuicudbox="fixEngagements"] > .UpDownButtons,
div[tuicudbox="tweetTopButton"] > .UpDownButtons {
    padding: 0 7px;
}
.TUIC_setting_detailsbox_content_container div[tuicudbox="tweetTopButton"],
.TUIC_setting_detailsbox_content_container div[tuicudbox="sidebarButtons"],
.TUIC_setting_detailsbox_content_container div[tuicudbox="fixEngagements"],
.TUIC_setting_detailsbox_content_container div[tuicudbox="visibleButtons"] {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#TUIC_invisible > div span,
#TUIC_visible > div > span {
    white-space: nowrap;
    line-height: calc(1em + 5px);
}

[TUICSelectedUpDownContent="true"],
[TUICSelectedUpDownContent="true"]:hover {
    background-color: #1da1f2 !important;
}

.TUIC_setting_UpdownList_listContainer {
    display: flex;
    flex-direction: column;
}

.TUICTextInput {
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea#css_textarea {
    height: 300px;
    resize: vertical;
    width: calc(100% - 10px);
    border-radius: 6px;
    margin-bottom: 20px;
}

.TUICTextInput {
    width: calc(100% - 10px);
    border: 1px solid #808080;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* チェックボタン(Transparent) */
.TUICButtonColorCheck {
    border-radius: 50%;
    border: solid 3px color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
    padding: 0;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    cursor: pointer;
}

.TUICButtonColorCheck_innersvg__container {
    width: 30px;
    height: 30px;
}

.TUICButtonColorCheck_innersvg__container > svg {
    width: 100%;
    height: 100%;
}

.TUICButtonColorCheck[data-checked="true"] {
    /* チェックされている */
    border: solid 3px #1da1f2;
}

.TUICSettingRadioTypeBigButton {
    flex: 1 1;
    height: 50px;
    border-radius: 10px !important;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 10%);
}

.TUICSettingRadioTypeBigButton > span > span {
    mix-blend-mode: difference;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        Helvetica,
        Roboto,
        "Segoe UI",
        "Noto Sans" "Noto Sans JP",
        Meiryo,
        system-ui,
        sans-serif;
}

.TUICSettingRadioTypeBigButton > span {
    white-space: nowrap;
}

.TUICColorSettingRadio {
    display: none;
}

.TUICColorSettingRadio:checked + .TUICSettingRadioTypeBigButton {
    border: 3px solid #1da1f2 !important;
}

.TUICColorSettingRadio:not(:checked) + .TUICSettingRadioTypeBigButton {
    border: 3px solid color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 5%) !important;
    font-weight: 400;
}

.TUIC_resetOnly_colorSettings {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%);
    color: var(--TUIC-container-background);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 9999px;
}

.TUIC_resetOnly_colorSettings:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 30%);
}

.TUICSettingSubTitle {
    color: var(--twitter-TUIC-color);
    font-size: 15px;
    font-weight: 700;
    font-feature-settings: "palt";
    letter-spacing: 1px;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.TUICUploadedImg:not([data-testid="interstitialGraphic"] > svg) {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid;
    border-color: var(--TUIC-detail-border) !important;
}

.TUICCheckBoxParent:not(:last-of-type) {
    padding-bottom: 10px;
}

.TUICCheckBoxParent {
    display: flex;
    padding-top: 10px;
    gap: 15px;
}

:is(.TUICCheckBoxParent, .TUICCheckBoxParent) > div {
    display: inline-block;
    margin-left: 0.25em;
    margin-top: auto;
    margin-bottom: auto;
}

#TUIC_setting :is(label, span, button, h2) {
    white-space: pre-wrap;
}

.TUICUpDownTitle {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#TUICSelectedColorType {
    display: flex;
    position: sticky;
    gap: 10px;
    top: 0;
    z-index: 9999;
    background-color: var(--TUIC-container-background);
    padding-top: 20px;
}

.TUIC_setting_divider {
    border: none;
    border-top: solid 1px var(--TUIC-detail-border);
    margin: 20px 0;
}

.TUIC_setting_divider_nomargin {
    margin: 0;
}

.TUIC_setting_divider_m35 {
    margin: 35px 0;
}

.TUIC_setting_toplogo {
    width: 150px;
}

.TUIC_setting_toplogo_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#TUIC_setting {
    padding: 0;
}

#TUIC_setting * {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        Helvetica,
        Roboto,
        "Segoe UI",
        "Noto Sans",
        "Noto Sans JP",
        Meiryo,
        system-ui,
        sans-serif !important;
}

.TUIC_settings_header_container {
    padding: 0 35px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.TUIC_settings_header_title {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.TUIC_settings_header_desc {
    margin: 0;
    padding: 0;
    color: #71767c;
    font-size: 15px;
}

.TUIC_settings_header_title.TUIC_settings_header_lv2 {
    font-size: 20px;
}

.TUIC_setting_easysetting_container {
    margin-bottom: 35px;
}

.TUIC_setting_iconbutton_icon {
    width: 24px;
    margin: auto;
}

.TUIC_setting_iconbutton {
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
    font-size: 15px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.22, 1, 0.36, 1);
    font-feature-settings: "palt";
}

.TUIC_setting_iconbutton:hover {
    transition: none;
    background: var(--TUIC-container-background);
}

.TUIC_setting_iconbutton:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
}

.TUIC_setting_easysetting_buttons_container {
    margin-top: 15px;
}

.TUIC_setting_defaultprefbutton {
    color: rgb(244 34 45);

    --twitter-TUIC-color: rgb(244 34 45);
}

.TUIC_setting_section_title {
    padding: 0 35px 10px;
    color: rgb(113 118 124);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.TUIC_setting_section_title_2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.TUIC_setting_detailsbox_icon {
    width: 24px;
    margin: auto;
}

.TUIC_setting_detailsbox summary > div {
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    align-items: center;
    font-size: 15px;
    font-feature-settings: "palt";
    height: 100%;
    user-select: none;
}

.TUIC_setting_detailsbox summary {
    height: 50px;
    cursor: pointer;
    list-style-type: none;
}
.TUIC_RoundedColorPicker_input {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transform: translate(-25%, -25%);
    width: 200%;
    height: 200%;
}

.TUIC_setting_detailsbox {
    height: fit-content;
    transition: 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.TUIC_setting_detailsbox summary:hover {
    transition: none;
    background: var(--TUIC-container-background);
}

.TUIC_setting_detailsbox summary:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
}

.TUIC_setting_detailsbox_content_container {
    background-color: var(--TUIC-container-background);
}
.TUIC_setting_detailsbox_content_container > :not(hr) {
    padding: 20px 35px;
}

.TUIC_setting_color_select_info {
    color: rgb(113 118 124);
    font-size: 15px;
    line-height: 1.4;
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    letter-spacing: 1px;
    font-feature-settings: "palt";
}

.TUIC_setting_sidebarFigure {
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 100%;
    margin: 20px 0;
}

.TUIC_setting_rightSidebarFigure {
    border-radius: 10px 0 0 10px;
}

.TUIC_setting_TwButtonFigure {
    border-radius: 10px 10px 0 10px;
    height: 100%;
    width: 100%;
    margin: 20px 0;
}

.TUIC_setting_TwButtonFigure_top {
    border-radius: 10px 0 10px 10px;
}

.TUIC_setting_TwEngagementFigure {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: 20px 0;
}

.TUIC_setting_UpdownListBtnDivider {
    margin: 5px 0;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #303438;
}

.TUIC_settings_subtitle2 {
    color: rgb(113 118 124);
    font-size: 15px;
    margin: 20px 0 10px;
    font-feature-settings: "palt";
    letter-spacing: 1px;
}

.TUIC_setting_IconRadioButton > svg {
    width: 24px;
    height: 24px;
}

.TUIC_setting_IconRadioButton {
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.TUICIconRadioButton input[type="radio"]:checked ~ div > label {
    background-color: #1da1f2;
}

.TUICIconRadioButton input[type="radio"]:not(:checked):hover ~ div > label {
    background-color: #303438;
}

.TUICIconRadioButton input[type="radio"] ~ div > label {
    transition: 0.2s;
}

.TUICIconRadioButton input[type="radio"] {
    display: none;
}

.TUIC_settings_settingsSidebar_IconRadioBtnList_container {
    display: flex;
    gap: 10px;
}

.TUICSettingSubTitleNomargin {
    margin: 0;
    padding: 0;
}
.TUIC_setting_notice_paragraph {
    color: rgb(113, 118, 124);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}
.TUIC_setting_customcss_input {
    border: 1px solid #303438;
    background: var(--tlui-dialog-background);
    font-family: monospace;
}
.TUIC_setting_customcss_button {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%);
    color: var(--TUIC-container-background);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 9999px;
}

.TUIC_setting_customcss_button:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 30%);
}
.TUIC_setting_button_new {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%);
    color: var(--TUIC-container-background);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 9999px;
    font-weight: bold;
}

.TUIC_setting_button_new:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 30%);
}
.TUIC_setting_intro_paragraph_bold {
    font-weight: bold;
}

.TUIC_setting_intro_paragraph {
    color: rgb(113 118 124);
    font-size: 15px;
    margin: 20px 0 10px;
    font-feature-settings: "palt";
    letter-spacing: 1px;
}
.TUIC_setting_textarea_new {
    border: 1px solid #303438;
    background: var(--tlui-dialog-background);
}

.TUICSelectImg {
    font-size: 15px;
}
.TUICSelectImg::file-selector-button,
.TUICSelectImg::-webkit-file-upload-button {
    background-color: #303438;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 12px;
}

.TUIC_setting_bottom_copyright {
    margin: 35px 0;
    text-decoration-color: rgb(113, 118, 124) !important;
    text-decoration-line: none;
}
.TUIC_setting_bottom_copyright:hover {
    text-decoration: underline;
}
.TUIC_setting_bottom_copyright:active {
    text-decoration: none;
}
.TUIC_setting_bottom_copyright span {
    width: 100%;
    height: 100%;
    display: block;
}
