/* セーフモード時の設定画面スタイル */
#TUIC_safemode > #TUIC_setting {
    margin: 2em auto;
    max-width: 600px;
}

#TUIC_safemode > .r-135wba7 {
    line-height: 1em;
}

.TUICDefaultColor {
    margin: 2px 0 2px auto !important;
    width: fit-content;
    border-color: #71767b !important;
}

.TUIC_ISNOTDEFAULT:not(:last-of-type) {
    margin-bottom: calc(12px + 1em);
}
.TUIC_ISNOTDEFAULT + .TUICDefaultColor {
    display: none;
}

/* 色選択 */
.TUIC_setting_color_colmn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TUIC_setting_color_colmn > h4 {
    margin-left: 10px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
}

/* 無理やり丸くするための準備（スタイルを消しまくったりポインタをカーソルにしてわかりやすく） */
.TUIC_col_setting_container input[type="color"] {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transform: translate(-25%, -25%);
    width: 200%;
    height: 200%;
}

/* type=colorなinputタグを無理やり丸くするためのマスク */
.TUIC_input_color_rounded {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

/* ホバー時の背景色変化とクリック時のサイズ変更を加えるためだけのコンテナ */
.TUIC_input_color_rounded__container {
    background-color: #9c9c9c80;
    border: solid 3px color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: none;
    margin-right: 5px !important;
}

.TUIC_input_color_rounded__container:hover {
    background: var(--TUIC-color-hover-efect);
}

.TUIC_input_color_rounded__container:active {
    border-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 40%);
}

/* 色設定項目の操作可能なオブジェクトのコンテナ */
.TUIC_setting_input_container {
    display: flex;
    align-items: center;
}

/* 設定項目のタイトル */
.TUIC_setting_title {
    font-weight: bold;
    font-size: 1rem;
    color: #71767b !important;
}

/* 設定用項目のコンテナ */
.TUIC_col_setting_container {
    /* margin-top: 8px; */
    padding: 10px 14px;
    border-radius: 14px;
}

.TUIC_col_setting_container_2 {
    background: var(--TUIC-container-background2);
    margin-top: 8px;
    padding: 10px 14px;
    border-radius: 14px;
    margin-bottom: 1em;
}

/* 表示非表示のセレクトボックス */
.TUIC_selectbox {
    border: solid 1px #71767b;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: calc((1em + 9px) * var(--contentCount) + 10px);
    overflow-x: auto;
    scrollbar-width: thin;
}

.TUIC_selectbox::-webkit-scrollbar {
    height: 8px;
}

/* 設定画面の文字色 */
.TUIC_setting_text {
    color: var(--twitter-TUIC-color);
}

.TUICDetails,
.TUICEasySetting {
    margin-bottom: 20px;
    border: 2px solid;
    border-color: rgb(0 0 0 / 0%) !important;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: var(--TUIC-container-background);
}

.TUICDetails:not([open]),
.TUICEasySetting {
    padding-bottom: 10px;
    border-color: var(--TUIC-detail-border) !important;
}

.TUIC_icon_button_con {
    border-radius: 9999px;
    background: transparent;
    border: none;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.TUIC_icon_button_con > svg * {
    stroke: var(--twitter-TUIC-color);
    transition: 0.2s;
}

.TUIC_icon_button_con > svg {
    pointer-events: none;
}

.TUIC_icon_button_con:hover {
    background: #ffffff20;
}

.TUIC_icon_button_con:active {
    transform: scale(0.9);
}

.TUIC_setting_button {
    background: transparent;
    /* border-color: var(--twitter-TUIC-color); */
    border-color: #71767b !important;
    border-radius: 9999px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 30%);
    /* color: #71767b !important; */
}

.TUIC_setting_button:hover {
    background: var(--TUIC-container-background);
}

.TUIC_setting_button_width {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px;
}
.TUICEasySettingButtons {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TUIC_none_scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.TUIC_none_scroll::-webkit-scrollbar {
    display: none;
}

.TUIC_DISPNONE {
    display: none !important;
}

#TUIC_invisible,
#TUIC_visible {
    background: transparent;
    padding-bottom: 10px;
    overflow-y: clip;
}

#TUIC_invisible span,
#TUIC_visible span,
#css_textarea,
.TUICTextInput {
    background: transparent;
    color: var(--twitter-TUIC-color);
}

#TUIC_invisible > div,
#TUIC_visible > div {
    height: calc(1em + 5px);
    padding: 2px 1em;
}

#TUIC_invisible > div span,
#TUIC_visible > div > span {
    white-space: nowrap;
    line-height: calc(1em + 5px);
}

[TUICSelectedUpDownContent="true"] {
    background-color: rgb(51 167 229 / 70%);
}

.TUICTextInput {
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea#css_textarea {
    height: 300px;
    resize: vertical;
}

textarea#css_textarea,
.TUICTextInput {
    width: calc(100% - 10px);
    border: 1px solid #808080;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* チェックボタン(Transparent) */
.TUICButtonColorCheck {
    border-radius: 50%;
    border: solid 3px color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
    margin-right: 0.2em;
    margin-left: 0.5em;
    padding: 0;
    overflow: hidden;
    object-fit: cover;
    display: flex;
}

.TUICButtonColorCheck_innersvg__container {
    width: 30px;
    height: 30px;
}

.TUICButtonColorCheck_innersvg__container > svg {
    width: 100%;
    height: 100%;
}

.TUICButtonColorCheck[data-checked="true"] {
    /* チェックされている */
    border: solid 3px #1da1f2;
}

.TUICSettingRadioTypeBigButton {
    flex: 1 1;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 50px;
    border-radius: 5px !important;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TUICSettingRadioTypeBigButton > span > span {
    mix-blend-mode: difference;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        Helvetica,
        Roboto,
        "Segoe UI",
        "Noto Sans" "Noto Sans JP",
        Meiryo,
        system-ui,
        sans-serif;
}

.TUICSettingRadioTypeBigButton > span {
    white-space: nowrap;
}

.TUICColorSettingRadio {
    display: none;
}

.TUICColorSettingRadio:checked + .TUICSettingRadioTypeBigButton {
    border: 2px solid rgb(29 155 240);
}

.TUICColorSettingRadio:not(:checked) + .TUICSettingRadioTypeBigButton {
    border: 2px solid rgb(127 127 127);
}

.TUICColorSettingRadio:checked + .TUICSettingRadioTypeBigButton > span::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><g><path fill='%23FFFFFF' d='M9.64 18.952l-5.55-4.861 1.317-1.504 3.951 3.459 8.459-10.948L19.4 6.32 9.64 18.952z'></path></g></svg>");
    background-color: rgb(29 155 240);
    height: 1em;
    width: 1em;
}

.TUICColorSettingRadio:not(:checked) + .TUICSettingRadioTypeBigButton > span::before {
    border: 2px solid rgb(127 127 127 / 50%);
}

.TUICSettingRadioTypeBigButton > span::before {
    margin-right: 10px;
    border-radius: 9999px;
    background-size: 16px 16px;
    background-position: center;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    display: inline-block;
    content: " ";
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.TUICSettingSubTitle {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
    margin-left: 10px !important;
}

.TUICUploadedImg:not([data-testid="interstitialGraphic"] > svg) {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid;
    border-color: var(--TUIC-detail-border) !important;
}

.TUICCheckBoxParent:not(:last-of-type) {
    margin-bottom: 8px;
}

.TUICCheckBoxParent {
    display: flex;
}

:is(.TUICCheckBoxParent, .TUICCheckBoxParent) > div {
    display: inline-block;
    margin-left: 0.25em;
    margin-top: auto;
    margin-bottom: auto;
}

#TUIC_setting :is(label, span, button, h2) {
    white-space: pre-wrap;
}

.TUICUpDownTitle {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#TUICSelectedColorType {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--TUIC-container-background);
    padding-top: 20px;
}

.TUIC_setting_divider {
    border: none;
    border-top: solid 1px var(--TUIC-detail-border);
    margin: 20px 0;
}

.TUIC_setting_divider_nomargin {
    margin: 0;
}

.TUIC_setting_divider_m35 {
    margin: 35px 0;
}

.TUIC_setting_toplogo {
    width: 150px;
}

.TUIC_setting_toplogo_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#TUIC_setting {
    padding: 0;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        Helvetica,
        Roboto,
        "Segoe UI",
        "Noto Sans" "Noto Sans JP",
        Meiryo,
        system-ui,
        sans-serif !important;
}

.TUIC_settings_header_container {
    padding: 0 35px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.TUIC_settings_header_title {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.TUIC_settings_header_desc {
    margin: 0;
    padding: 0;
    color: #71767c;
    font-size: 15px;
}

.TUIC_settings_header_title.TUIC_settings_header_lv2 {
    font-size: 20px;
}

.TUIC_setting_easysetting_container {
    margin-bottom: 35px;
}

.TUIC_setting_iconbutton_icon {
    width: 24px;
    margin: auto;
}

.TUIC_setting_iconbutton {
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
    font-size: 15px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.22, 1, 0.36, 1);
    font-feature-settings: "palt";
}

.TUIC_setting_iconbutton:hover {
    transition: none;
    background: var(--TUIC-container-background);
}

.TUIC_setting_iconbutton:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
}

.TUIC_setting_easysetting_buttons_container {
    margin-top: 15px;
}

.TUIC_setting_defaultprefbutton {
    color: rgb(244 34 45);

    --twitter-TUIC-color: rgb(244 34 45);
}

.TUIC_setting_section_title {
    padding: 0 35px 10px;
    color: rgb(113 118 124);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.TUIC_setting_detailsbox_icon {
    width: 24px;
    margin: auto;
}

.TUIC_setting_detailsbox summary > div {
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    align-items: center;
    font-size: 15px;
    font-feature-settings: "palt";
    height: 100%;
    user-select: none;
}

.TUIC_setting_detailsbox summary {
    height: 50px;
    cursor: pointer;
    list-style-type: none;
}
.TUIC_RoundedColorPicker_input {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transform: translate(-25%, -25%);
    width: 200%;
    height: 200%;
}

.TUIC_setting_detailsbox {
    height: fit-content;
    transition: 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.TUIC_setting_detailsbox summary:hover {
    transition: none;
    background: var(--TUIC-container-background);
}

.TUIC_setting_detailsbox summary:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 20%);
}

.TUIC_setting_detailsbox_content_container {
    background-color: var(--TUIC-container-background);
    padding: 20px 35px;
}
