.TUICTweetButtomBarBase > div > .r-13awgt0 {
    flex: inherit !important;
}

.TUICScrollBottom {
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    margin-right: -8px;
    margin-bottom: -16px;
    margin-left: -8px;
}

.TUICScrollBottom,
.TUICItIsBigArticlePhoto .TUICScrollBottom > div {
    overflow-x: auto;
    scrollbar-width: thin;
}

:is(.TUICItIsBigArticlePhoto .TUICScrollBottom > div, .TUICScrollBottom)::-webkit-scrollbar {
    height: 8px;
}

:is(.TUICTwitterIcon_Twitter, .TUICTwitterIcon_Dog, .TUICTwitterIcon_IconImg, .TUICTwitterIcon_X, .TUICUploadedImg):not([role="alertdialog"] [data-testid="confirmationSheetDialog"] *) {
    margin: 8px;
    background-size: cover;
}

#placeholder > :is(.TUICTwitterIcon_Twitter, .TUICTwitterIcon_Dog, .TUICTwitterIcon_IconImg, .TUICTwitterIcon_X) {
    position: absolute;
    margin: auto;
}

:is(.TUICTwitterIcon_Twitter, .TUICTwitterIcon_Dog, .TUICTwitterIcon_IconImg, .TUICTwitterIcon_X):not([role="alertdialog"] [data-testid="confirmationSheetDialog"] *) {
    height: inherit !important;
}

[role="alertdialog"] [data-testid="confirmationSheetDialog"] .TUICTwitterIcon_IconImg {
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}

[role="alertdialog"] [data-testid="confirmationSheetDialog"] :is(.TUICTwitterIcon_Twitter, .TUICTwitterIcon_Dog, .TUICTwitterIcon_IconImg, .TUICTwitterIcon_X) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain !important;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain !important;
    mask-size: contain !important;
}

:is(.TUICTwitterIcon_Twitter, .TUICTwitterIcon_X):not([role="alertdialog"] [data-testid="confirmationSheetDialog"] *) {
    -webkit-mask-size: cover !important;
    mask-size: cover !important;
}

.TUICTwitterIcon_Twitter {
    background-color: var(--twitter-twitterIcon-color);
    -webkit-mask-image: var(--TUIC-twitter-icon) !important;
    mask-image: var(--TUIC-twitter-icon) !important;
}

.TUICTwitterIcon_X {
    background-color: var(--twitter-twitterIcon-color);
    -webkit-mask-image: var(--TUIC-twitter-icon) !important;
    mask-image: var(--TUIC-twitter-icon) !important;
}

#layers [data-testid="TopNavBar"] div + .TUICTwitterIcon_IconImg {
    width: auto !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: contain !important;
}

.TUIC_SVGDISPNONE > * {
    display: none !important;
}

.TUIC_DISPNONE_PARENT > [data-testid="ScrollSnap-prevButtonWrapper"] {
    display: none !important;
}

.TUIC_DISPNONE {
    display: none !important;
}

.TUIC_HideNextElements ~ * {
    visibility: hidden !important;
}

[TUICDiscoverMore] {
    padding-left: 20px;
}

[TUICDiscoverMore="false"]::before {
    position: absolute;
    top: 50%;
    /* 縦軸をセンタリングする */
    left: 20px;
    content: "";
    /* 縦軸をセンタリングする */
    border: 5px solid transparent;
    border-left: 8px solid #555;
    transform: translateY(-50%);
    /* 好みで色を変えてください */
}

[TUICDiscoverMore="true"]::before {
    position: absolute;
    top: 50%;
    left: 20px;
    content: "";
    border: 6px solid transparent;
    border-top: 7px solid #555;
    /* 好みで色を変えてください */
}

.TUIC_DISCOVERMORE {
    display: var(--TUIC-DISCOVERMORE, block) !important;
}

.TUICSidebarSelected > div > [dir="ltr"] {
    font-weight: 700;
}

/*
.TUICSidebarSelected > div > div > svg{
    stroke:currentColor;
    stroke-width:1;
}
*/

.TUICSidebarButton:hover > div {
    background-color: var(--TUIC-sidebar-hover-color);
}

.TUICSidebarButton[data-focusvisible-polyfill] > div {
    box-shadow: var(--TUIC-sidebar-focus-color) 0 0 0 2px;
}

.TUICSidebarButton {
    text-decoration: none;
}

.TUICSidebarButton > div {
    display: flex;
}
.TUICSidebarButton:active > div {
    background-color: var(--TUIC-sidebar-active-color);
}

.TUIC_DeleteButton {
    color: rgb(244 33 46);
}

.TUICEngagementsBox {
    display: flex;
}

.TUICEngagementsBox > div > span {
    transition: border-bottom 0.2s;
}

.TUICEngagementsBox > div > span:hover {
    border-bottom: solid 0.05px;
}

[tabindex="0"] > .TUIC_ButtonHover2:hover > .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 10%);
}

[tabindex="0"] > .TUIC_ButtonHover2:active > .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 20%);
}

[tabindex="0"] > .TUIC_ButtonHover2:hover > .TUIC_ButtonHover > svg {
    color: rgb(29 155 240);
}

.TUICButtonUnderTweet [tabindex="0"][data-focusvisible-polyfill] .TUIC_ButtonHover > svg {
    color: rgb(29 155 240);
}

.TUICButtonUnderTweet [tabindex="0"][data-focusvisible-polyfill] .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 10%);
    box-shadow: rgba(142 204 258) 0 0 0 2px inset;
}

.TUICButtonUnderTweet > div {
    display: flex;
}
.TUICButtonUnderTweet > div > div {
    display: flex;
    align-items: stretch;
}

.TUIC_LinkCardInfo > a {
    text-decoration: none;
}

.TUICTweetTopButton.css-18t94o4:hover .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 10%);
}
.TUICTweetTopButton.css-18t94o4:hover svg {
    color: rgb(29 155 240);
}

.TUICTweetTopButton.css-18t94o4:focus-visible .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 10%);
    box-shadow: rgba(142 204 258) 0 0 0 2px inset;
}
.TUICTweetTopButton.css-18t94o4:focus-visible svg {
    color: rgb(29 155 240);
}

.TUICTweetTopButton.css-18t94o4:active .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 20%);
}

#TUICDisplayRightSidebar:hover {
    text-decoration-thickness: 1px;
}

.TUICTweetTopButton :root[TUICSettings*="|sidebarSetting.buttonConfigsmallerSidebarContent|"] [role="navigation"] .NOT_TUIC_DISPNONE {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

:root[TUICSettings*="|twitterIcon.options.roundIcon|"] :is(.TUICTwitterIcon_IconImg, #TUICIcon_IconImg) {
    border-radius: 9999px !important;
}

:is(
        :root[tuicsettings*="|invisibleItems.subscribe-profile|"] [data-testid="userActions"] + [style*="border-color"][style*="rgb(201, 54, 204)"],
        :root[tuicsettings*="|invisibleItems.hideBelowDM|"] [data-testid="DMDrawer"],
        :root[tuicsettings*="|tweetDisplaySetting.option.noNumberBottomTweetButtons|"] .TUICItIsBigArticle [data-testid="app-text-transition-container"],
        :root[tuicsettings*="|accountSwitcher.icon|"] [data-testid="SideNav_AccountSwitcher_Button"] > div:first-child,
        :root[tuicsettings*="|accountSwitcher.nameID|"] [data-testid="SideNav_AccountSwitcher_Button"] > div:first-child + div,
        :root[tuicsettings*="|accountSwitcher.moreMenu|"] [data-testid="SideNav_AccountSwitcher_Button"] > div:first-child + div + div,
        :root[tuicsettings*="|composetweet.hideDraft|"] [data-testid="unsentButton"],

    ) {
    display: none !important;
}

:root[tuicsettings*="|tweetDisplaySetting.invisible.bottomSpace|"] .TUIC_NONE_SPACE_BOTTOM_TWEET {
    margin-top: 0 !important;
}

:root[tuicsettings*="|sidebarSetting.buttonConfig.sidebarNoneScrollbar|"] header > div > div > div > div.r-1rnoaur {
    overflow: clip;
}

:root[tuicsettings*="|profileSetting.tabs.pinnedTab|"] [data-testid="primaryColumn"] > div > div > div > div > nav[role="navigation"] {
    position: sticky;
    top: var(--TUIC-pinnedTab-top);
    z-index: 1;
    background-color: var(--TUIC-pinnedTab-background);
    backdrop-filter: blur(12px);
}

:root[tuicsettings*="|uncategorizedSettings.disableBackdropFilter|"] * {
    backdrop-filter: none !important;
}

:root[tuicsettings*="|tweetDisplaySetting.option.likeToFavo|"] :is([data-testid="unlike"], [data-testid="like"][data-focusvisible-polyfill], [data-testid="like"]:hover) > div > div {
    color: rgb(255 212 0) !important;
}

:root[tuicsettings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:hover > div {
    color: rgb(255 212 0) !important;
}

:root[tuicsettings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:hover > div > div {
    background-color: rgb(255 212 0 / 10%) !important;
}

:root[tuicsettings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"][data-focusvisible-polyfill] > div > div > div {
    background-color: rgb(255 212 0 / 10%) !important;
    box-shadow: rgba(142 204 258) 0 0 0 2px inset !important;
}

:root[tuicsettings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:active > div > div {
    background-color: rgb(255 212 0 / 20%) !important;
}

:root[tuicsettings*="|tweetDisplaySetting.option.likeToFavo|"] :is([data-testid="unlike"], [data-testid="like"][data-focusvisible-polyfill]) path {
    fill: rgb(255 212 0) !important;
}

:root[tuicsettings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:hover path {
    fill: rgb(255 212 0) !important;
}
