.r-icoktb {
    opacity: 0.5;
}

.r-115tad6 {
    color: rgb(139 152 165);
}

/* Twitter Blue以外の長文のもっと見るを非表示にするCSS */
div[data-testid="tweetText"] {
    -webkit-line-clamp: initial !important;
}
/*
header nav > a > div {
    padding-right: 0 !important;
} 
*/
