.r-icoktb {
    opacity: 0.5;
}

.r-zd98yo {
    margin-bottom: 32px;
}

.r-1yflyrw {
    margin-bottom: 30px;
}

.r-1vxqurs {
    margin-bottom: 29px;
}

.r-1v456y7 {
    margin-bottom: 35px;
}

.r-sr82au {
    margin-bottom: 38px;
}

.r-z2wwpe {
    border-radius: 4px;
}

.r-115tad6 {
    color: rgb(139 152 165);
}

/* Twitter Blue以外の長文のもっと見るを非表示にするCSS */
div[data-testid="tweetText"] {
    -webkit-line-clamp: initial !important;
}
/*
header nav > a > div {
    padding-right: 0 !important;
}
*/

/* Twitterから削除されたダークブルー背景テーマ用のCSS */
.r-1kfrmmb {
    border-color: #38444d;
}
:root[data-theme="dim"] {
    /* app */
    --color-background: 210 34% 13%;
    --color-brand: 180 14% 97%;
    --color-mark: rgb(91 112 131 / 40%);
    --color-nested-border: 210 13% 60%;
    --color-text: 180 14% 97%;
    /* shadcn */
    --background: 210 34% 13%;
    --foreground: 200 7% 91%;
    --card: var(--color-gray-0);
    --card-foreground: 200 7% 91%;
    --popover: 210 34% 13%;
    --popover-foreground: 200 7% 91%;
    --primary: var(--color-blue-500);
    --primary-foreground: 240 5.9% 10%;
    --secondary: 210 21% 28%;
    --secondary-foreground: 200 7% 91%;
    --muted: 210 21% 28%;
    --muted-foreground: 240 5% 64.9%;
    --accent: var(--color-blue-200);
    --accent-foreground: var(--color-blue-700);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 200 7% 91%;
    --border: 210 21% 28%;
    --input: 210 21% 28%;
    --ring: var(--color-blue-500);
    --chart-1: var(--color-blue-500);
    --chart-2: var(--color-green-500);
    --chart-3: var(--color-red-500);
    --chart-4: var(--color-yellow-500);
    --chart-5: var(--color-purple-500);
    /* palette */
    --color-blue-0: 225 94% 12%;
    --color-blue-50: 223 100% 15%;
    --color-blue-100: 215 100% 26%;
    --color-blue-200: 212 100% 38%;
    --color-blue-300: 209 100% 42%;
    --color-blue-400: 207 100% 46%;
    --color-blue-500: 204 88% 53%;
    --color-blue-600: 202 91% 61%;
    --color-blue-700: 201 95% 70%;
    --color-blue-800: 196 100% 80%;
    --color-blue-900: 192 100% 87%;
    --color-blue-1000: 194 100% 92%;
    --color-blue-1100: 194 100% 96%;
    --color-gray-0: 213 25% 16%;
    --color-gray-50: 211 24% 20%;
    --color-gray-100: 210 21% 28%;
    --color-gray-200: 210 20% 33%;
    --color-gray-300: 208 16% 43%;
    --color-gray-400: 208 14% 49%;
    --color-gray-500: 207 14% 54%;
    --color-gray-600: 208 15% 58%;
    --color-gray-700: 210 13% 60%;
    --color-gray-800: 209 13% 66%;
    --color-gray-900: 206 13% 79%;
    --color-gray-1000: 203 13% 88%;
    --color-gray-1100: 180 14% 97%;
    --color-green-0: 162 100% 7%;
    --color-green-50: 162 100% 7%;
    --color-green-100: 157 100% 13%;
    --color-green-200: 158 100% 19%;
    --color-green-300: 158 100% 25%;
    --color-green-400: 158 100% 31%;
    --color-green-500: 160 100% 36%;
    --color-green-600: 157 61% 49%;
    --color-green-700: 154 59% 61%;
    --color-green-800: 153 59% 73%;
    --color-green-900: 153 63% 85%;
    --color-green-1000: 153 67% 92%;
    --color-green-1100: 160 100% 96%;
    --color-magenta-0: 330 96% 11%;
    --color-magenta-50: 330 100% 12%;
    --color-magenta-100: 331 90% 21%;
    --color-magenta-200: 332 86% 29%;
    --color-magenta-300: 332 85% 37%;
    --color-magenta-400: 332 84% 45%;
    --color-magenta-500: 332 95% 54%;
    --color-magenta-600: 332 95% 62%;
    --color-magenta-700: 332 95% 71%;
    --color-magenta-800: 332 96% 80%;
    --color-magenta-900: 332 96% 89%;
    --color-magenta-1000: 332 100% 93%;
    --color-magenta-1100: 330 100% 97%;
    --color-orange-0: 17 97% 12%;
    --color-orange-50: 18 100% 14%;
    --color-orange-100: 19 100% 21%;
    --color-orange-200: 19 100% 27%;
    --color-orange-300: 24 100% 35%;
    --color-orange-400: 27 100% 42%;
    --color-orange-500: 29 100% 50%;
    --color-orange-600: 29 100% 60%;
    --color-orange-700: 29 100% 69%;
    --color-orange-800: 29 100% 79%;
    --color-orange-900: 30 100% 88%;
    --color-orange-1000: 30 100% 93%;
    --color-orange-1100: 30 90% 96%;
    --color-plum-0: 300 88% 9%;
    --color-plum-50: 299 100% 10%;
    --color-plum-100: 299 77% 18%;
    --color-plum-200: 299 67% 26%;
    --color-plum-300: 298 64% 35%;
    --color-plum-400: 299 60% 43%;
    --color-plum-500: 299 60% 51%;
    --color-plum-600: 299 60% 60%;
    --color-plum-700: 299 60% 69%;
    --color-plum-800: 298 63% 79%;
    --color-plum-900: 299 67% 88%;
    --color-plum-1000: 300 72% 93%;
    --color-plum-1100: 300 100% 97%;
    --color-purple-0: 261 79% 11%;
    --color-purple-50: 260 100% 15%;
    --color-purple-100: 257 73% 25%;
    --color-purple-200: 256 62% 35%;
    --color-purple-300: 254 56% 46%;
    --color-purple-400: 253 68% 56%;
    --color-purple-500: 252 100% 67%;
    --color-purple-600: 252 100% 73%;
    --color-purple-700: 252 100% 80%;
    --color-purple-800: 252 100% 86%;
    --color-purple-900: 251 100% 92%;
    --color-purple-1000: 250 100% 95%;
    --color-purple-1100: 250 100% 98%;
    --color-red-0: 356 97% 12%;
    --color-red-50: 356 100% 13%;
    --color-red-100: 355 87% 22%;
    --color-red-200: 351 83% 30%;
    --color-red-300: 353 79% 38%;
    --color-red-400: 355 78% 46%;
    --color-red-500: 356 91% 54%;
    --color-red-600: 354 90% 63%;
    --color-red-700: 355 90% 72%;
    --color-red-800: 354 92% 80%;
    --color-red-900: 354 93% 89%;
    --color-red-1000: 351 94% 93%;
    --color-red-1100: 356 100% 97%;
    --color-teal-0: 185 89% 7%;
    --color-teal-50: 185 100% 7%;
    --color-teal-100: 184 100% 13%;
    --color-teal-200: 183 100% 19%;
    --color-teal-300: 182 100% 24%;
    --color-teal-400: 182 100% 30%;
    --color-teal-500: 182 100% 36%;
    --color-teal-600: 182 100% 41%;
    --color-teal-700: 183 70% 55%;
    --color-teal-800: 182 71% 69%;
    --color-teal-900: 183 75% 83%;
    --color-teal-1000: 183 80% 90%;
    --color-teal-1100: 183 100% 96%;
    --color-yellow-0: 28 94% 12%;
    --color-yellow-50: 29 100% 14%;
    --color-yellow-100: 34 100% 22%;
    --color-yellow-200: 36 100% 29%;
    --color-yellow-300: 42 100% 36%;
    --color-yellow-400: 47 100% 43%;
    --color-yellow-500: 50 100% 50%;
    --color-yellow-600: 50 100% 63%;
    --color-yellow-700: 52 100% 71%;
    --color-yellow-800: 54 100% 79%;
    --color-yellow-900: 59 100% 88%;
    --color-yellow-1000: 59 100% 92%;
    --color-yellow-1100: 54 100% 96%;
}
