:root {
    --tlui-dialog-background: #000;
    --tlui-dialog-text: #fff;
    --tlui-dialog-mask: rgb(91 112 131 / 40%);
    --tlui-button-background: var(--tlui-dialog-text);
    --tlui-button-text: var(--tlui-dialog-background);
    --tlui-button-background-hover: rgb(215 219 220);
    --tlui-button-background-invert-hover: rgb(239 243 244 / 10%);
}

/* コンテナ */
.tlui .tlui-container {
    padding: 32px;
}

/* ダイアログ > マスク */
.tlui-dialog {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--tlui-dialog-mask);
}

/* ダイアログ > コンテナ */
.tlui-dialog > .tlui-container {
    width: fit-content;
    min-width: 380px;
    max-width: 80vw;
    max-height: 80vh;
    margin: auto;

    overflow-y: auto;

    font-family:
        "Segoe UI",
        Meiryo,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    color: var(--tlui-dialog-text);
    background-color: var(--tlui-dialog-background);

    border-radius: 16px;
}
.tlui-dialog:not(.has-padding) > .tlui-container {
    padding: 0;
}
.tlui-dialog:not(.fit-content-width) > .tlui-container {
    width: 380px;
}
/* ダイアログ > 外枠 > コンテナ > ヘッダー */
.tlui-dialog h1 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}
/* ダイアログ > 外枠 > コンテナ > 本文 */
.tlui-dialog p {
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    color: rgb(113 118 123);
}
/* ダイアログ > 外枠 > コンテナ > ボタン */
.tlui-dialog button {
    height: 45px;
    padding-inline: 16px;
    margin-inline: auto;
    margin-top: 16px;

    font-size: 1.1em;
    font-weight: 700;
    line-height: 1em;
    color: var(--tlui-button-text);
    cursor: pointer;
    background: var(--tlui-button-background);
    border: 1px solid rgb(83 100 113);
    border-radius: 100000px;
    transition-duration: 0.2s;
}
.tlui-dialog .full-width:is(button, textarea) {
    width: 100%;
}
.tlui-dialog button.invert-color {
    color: var(--tlui-button-background);
    background-color: var(--tlui-button-text);
}
.tlui-dialog button:hover {
    background-color: var(--tlui-button-background-hover);
}
.tlui-dialog button.invert-color:hover {
    background-color: var(--tlui-button-background-invert-hover);
}

html.tlui-has-dialog {
    overflow: hidden !important;
    overscroll-behavior-y: none !important;
}
