body {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: #111;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #191919;
}
.message_container {
    display: flex;
    flex-direction: column;
    margin: 30px 50px 15px 50px;
}
.message_container * {
    margin: 0;
}
.thankyou {
    border-bottom: 2px solid #2e7eb4;
    border-image: linear-gradient(90deg, rgba(46, 126, 180, 0) 0%, rgba(46, 126, 180, 1) 50%, rgba(0, 212, 255, 0) 100%);
    border-image-slice: 1;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.message_container p {
    color: #e8e8e8d2;
}
.links a {
    text-decoration: none;
    background: #2e72b4;
    color: #eee;
    padding: 8px 12px;
    border-radius: 30px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    transition: 0.1s;
}
.links a:hover {
    opacity: 0.8;
}
.links a:active {
    background-color: #fff;
    border-radius: 8px;
}
.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    height: auto;
}
.links a div {
    padding: 0 30px;
    text-align: center;
    position: relative;
}

.links a .bi {
    padding: 0;
    position: absolute;
}
