root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 2

[public/pwa-manifests/*.json]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{dist,**/node_modules}/**]
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
