name: i18n Updater

on: [workflow_dispatch]

jobs:
    eslint:
        name: Update
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Update
              run: |
                  yarn add node-fetch -D

                  node ./updateI18n.mjs
                  git config user.name  "i18n Updater"
                  git config user.email "action@github.com"
                  git add .
                  git commit -m "generated"
                  git push
