name: Build
on:
    push:
        tags:
            - "[0-9]+\\.[0-9]+\\.[0-9]+"

jobs:
    build-firefox:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Archive
              run: |
                  rm manifest_chrome.json
                  mv manifest_firefox.json manifest.json
                  zip -r Twitter_UI_Customizer_Firefox.xpi ./ -x "*.git*"
            - name: Publish
              uses: actions/upload-artifact@v3
              with:
                  name: Twitter_UI_Customizer_Firefox
                  path: Twitter_UI_Customizer_Firefox.xpi

    build-chromium:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: setUpdateUrl
              run: sed -i 's/${github.repository}/${{ github.repository_owner }}\/${{ github.event.repository.name }}/' manifest_chrome.json
            - name: Archive
              run: |
                  rm manifest_firefox.json
                  mv manifest_chrome.json manifest.json
                  zip -r Twitter_UI_Customizer_Chromium.zip ./ -x "*.git*"
            - name: CRX
              uses: cardinalby/webext-buildtools-chrome-crx-action@v2
              with:
                  zipFilePath: Twitter_UI_Customizer_Chromium.zip
                  crxFilePath: Twitter_UI_Customizer_Chromium.crx
                  privateKey: ${{ secrets.CHROME_EXTENSION_KEY }}
                  updateXmlPath: crxupdate.xml
                  updateXmlCodebaseUrl: https://github.com/${{ github.repository }}/releases/latest/download/Twitter_UI_Customizer_Chromium.crx
            - name: Publish
              uses: actions/upload-artifact@v3
              with:
                  name: Twitter_UI_Customizer_Chromium_zip
                  path: Twitter_UI_Customizer_Chromium.zip
            - name: Publish
              uses: actions/upload-artifact@v3
              with:
                  name: Twitter_UI_Customizer_Chromium_crx
                  path: Twitter_UI_Customizer_Chromium.crx
            - name: Publish
              uses: actions/upload-artifact@v3
              with:
                  name: crxupdate
                  path: crxupdate.xml

    make-release:
        runs-on: ubuntu-latest
        needs: [build-firefox, build-chromium]
        steps:
            - name: Create Release
              id: create_release
              uses: softprops/action-gh-release@v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  tag_name: ${{ github.ref_name }}
                  name: Twitter UI Customizer ${{ github.ref_name }}
                  draft: false
                  prerelease: false
            - name: loadFile
              uses: actions/download-artifact@v3
              with:
                  name: Twitter_UI_Customizer_Firefox
            - name: loadFile
              uses: actions/download-artifact@v3
              with:
                  name: Twitter_UI_Customizer_Chromium_zip
            - name: loadFile
              uses: actions/download-artifact@v3
              with:
                  name: Twitter_UI_Customizer_Chromium_crx
            - name: loadFile
              uses: actions/download-artifact@v3
              with:
                  name: crxupdate
            - name: Upload Release Asset
              id: upload-release-asset
              uses: softprops/action-gh-release@v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  files: |
                      Twitter_UI_Customizer_Firefox.xpi
                      Twitter_UI_Customizer_Chromium.zip
                      Twitter_UI_Customizer_Chromium.crx
                      crxupdate.xml
