name: Build
on:
    push:
        tags:
            - "[0-9]+\\.[0-9]+\\.[0-9]+"
    workflow_dispatch:

jobs:
    build-firefox:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
            - uses: actions/setup-node@v4
              with:
                  node-version-file: "package.json"
                  cache: "pnpm"
            - name: Archive
              run: |
                  pnpm install
                  pnpm build:firefox
                  cp ./dist/twitter_ui_customizer-*.zip ./Twitter_UI_Customizer_Firefox.xpi
                  cp ./dist/index.js ./codeToDebug.js
            - name: Publish
              uses: actions/upload-artifact@v4
              with:
                  name: Twitter_UI_Customizer_Firefox
                  path: Twitter_UI_Customizer_Firefox.xpi
            - name: Publish
              uses: actions/upload-artifact@v4
              with:
                  name: codeToDebug
                  path: codeToDebug.js

    build-chromium:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
            - uses: actions/setup-node@v4
              with:
                  node-version-file: "package.json"
                  cache: "pnpm"
            - name: Archive
              run: |
                  pnpm install
                  pnpm build:chromium
                  cp ./dist/twitter_ui_customizer-*.zip ./Twitter_UI_Customizer_Chromium.zip
            - name: Publish
              uses: actions/upload-artifact@v4
              with:
                  name: Twitter_UI_Customizer_Chromium
                  path: Twitter_UI_Customizer_Chromium.zip

    build-chromium-crx:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
            - uses: actions/setup-node@v4
              with:
                  node-version-file: "package.json"
                  cache: "pnpm"
            - name: Archive
              run: |
                  pnpm install
                  pnpm vite build --mode chromiumCRX
              env:
                  GITHUB_REPO: ${{ github.repository }}
            - name: CRX
              run: |
                  node ./npm-scripts/generate-crx.js
              env:
                  GITHUB_REPO: ${{ github.repository }}
                  CHROME_EXTENSION_KEY: ${{ secrets.CHROME_EXTENSION_KEY }}
            - name: Publish
              uses: actions/upload-artifact@v4
              with:
                  name: Twitter_UI_Customizer_Chromium_crx
                  path: Twitter_UI_Customizer_Chromium.crx
            - name: Publish
              uses: actions/upload-artifact@v4
              with:
                  name: crxupdate
                  path: crxupdate.xml

    make-release:
        runs-on: ubuntu-latest
        needs: [build-firefox, build-chromium, build-chromium-crx]
        if: ${{ github.ref_type == 'tag' }}
        steps:
            - name: Create Release
              id: create_release
              uses: softprops/action-gh-release@4634c16e79c963813287e889244c50009e7f0981
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  tag_name: ${{ github.ref_name }}
                  name: Twitter UI Customizer ${{ github.ref_name }}
                  draft: false
                  prerelease: false
            - name: loadFile
              uses: actions/download-artifact@v4
              with:
                  pattern: Twitter_UI_Customizer_*
                  merge-multiple: true
            - name: loadFile
              uses: actions/download-artifact@v4
              with:
                  name: crxupdate
            - name: loadFile
              uses: actions/download-artifact@v4
              with:
                  name: codeToDebug
            - name: Upload Release Asset
              id: upload-release-asset
              uses: softprops/action-gh-release@4634c16e79c963813287e889244c50009e7f0981
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  files: |
                      Twitter_UI_Customizer_Firefox.xpi
                      Twitter_UI_Customizer_Chromium.zip
                      Twitter_UI_Customizer_Chromium.crx
                      crxupdate.xml
                      codeToDebug.js
